# PostgreSQL do serving layer Gold
ETL_DB_HOST=postgres-etl
ETL_DB_PORT=5432
ETL_DB_HOST_PORT=5439
ETL_DB_NAME=flight_data_db
ETL_DB_USER=postgres
ETL_DB_PASSWORD=root

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# Airflow
AIRFLOW_USER=ROOT
AIRFLOW_PASSWORD=ROOT
AIRFLOW_FIRSTNAME=ROOT
AIRFLOW_LASTNAME=ROOT
AIRFLOW_EMAIL=root@example.com
